:root {
    --blue: #007cc2;
    --green: #c3db33;
    --black: #000000;
    --white-bg: #f2f2f2;
    --white: #ffffff;
}

.about-page-card {
    background-color: var(--blue);
    position: relative;
    max-width: 400px;
    color: var(--white);
    overflow: hidden;
    border-radius: 8px;
    margin: 32px;
    margin-inline: auto;
}

.about-page-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;


}

.about-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block: 128px;

}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}

.face {
    height: 400px;
}

@media (max-width:1200px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:800px) {
    .cards {
        grid-template-columns: 1fr;
    }
}