:root {
    --blue: #007cc2;
    --green: #c3db33;
    --black: #000000;
    --white: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 15px;
    font-weight: 500;
}

p2 {
    font-size: 14px;
    font-weight: 500;
}

p3 {
    font-size: 14px;
    font-weight: 500;
}

header  {
    text-align: center;
}

header h1  {
    font-size: 4rem;
    font-weight: 700;
}

header h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.program-card {
    background-color: var(--white);
    maxwidth: 700px;
    height: 300px;
    padding: 32px;
    border-radius: 6px;
    display: flex;
    gap: 40px;
    margin: auto;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.029),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.012),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.004),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.001),
    100px 100px 80px rgba(0, 0, 0, -0.001)
    ;
}

.program-card-image {
    background: var(--blue);
    height: 100%;
    width: 40%;
    border-radius: 7px;
}

.program-card-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 16px;
}

.program-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin: 64px;
}

#anoying {
    grid-column: span 2;
    width: 1000px;
    justify-content: center;
    margin: auto;
}
