:root {
    --blue: #007cc2;
    --green: #c3db33;
    --black: #000000;
    --white: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 20px;
    font-weight: 500;
}

p2 {
    font-size: 14px;
    font-weight: 500;
}

p3 {
    font-size: 14px;
    font-weight: 500;
}

header  {
    text-align: center;
}

header h1  {
    font-size: 4rem;
    font-weight: 700;
}

header h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.program-card {
    background-color: var(--white);
    max-width: 700px;
    padding: 24px;
    border-radius: 6px;
    display: flex;
    gap: 40px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.029),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.012),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.004),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.001),
    100px 100px 80px rgba(0, 0, 0, -0.001)
    ;
    margin: auto;
}

.program-card-image {
    background: var(--blue);
    height: 272px;
    width: 40%;
    min-width: 250px;
    object-fit: cover;
    border-radius: 7px;
}

.program-card-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 16px;
    overflow: hidden;
}

.program-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 64px;
    margin: 64px;
    grid-column: span 2;    
}

#Boxes {
    grid-column: span 2;
    max-width: 1000px;
    margin: auto;
}





@media (max-width:1500px) {
    .program-card {
        flex-direction: column;
        width: max-content;
        margin: 0;
    }
    
    .program-card-image {
        width: 40vw;
    }

    .program-card-text {
        width: 40vw;

    }

    #Boxes {
        width: auto;
        grid-column: span 2;
        margin: auto;
    }

    #Boxes .program-card-text {
        width: 60vw;
    }

    #Boxes .program-card-image {
        width: 60vw;
    }
}

@media (max-width:1000px) {
    .program-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .program-card {
        flex-direction: column;
        width: max-content;
        max-width: unset;
        margin: 0;
    }
    
    .program-card-image {
        width: 75vw;
    }

    .program-card-text {
        width: 75vw;
    }

    #Boxes {
        width: max-content;
        grid-column: span 1;
        margin: unset;
    }

    #Boxes .program-card-text {
        width: 75vw;
        word-wrap: break-word;
    }

    #Boxes .program-card-image {
        width: 75vw;
    }
}