:root {
    --blue: #007cc2;
    --green: #c3db33;
    --black: #000000;
    --white: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


h1 {
    font-size: 5rem;
    font-weight: 800;
}

h2 {
    font-size: 4rem;
    font-weight: 800;
}

h4  {
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 20px;
    font-weight: 500;
}

a {
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

a:hover {
    text-decoration: underline 2px;
}






.nav-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-wraper ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-wraper img {
    object-fit: contain;
    object-position: center;
    height: 3rem;
}

.nav-wraper a {
    color: var(--white);
    font-weight: 600;
}

#nav-signup-button {
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 4px;
}

#nav-signup-button:hover {
    background: unset;
    color: var(--blue);
    outline: 3px solid var(--blue);
    text-decoration: none;
    transition: .1s;
}

.header-image {
    background: url(../Images/headerbg12.png);
    height: 624px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    color: var(--white);
    text-align: center;
}

.header-text p {
    font-size: 2rem;
    font-weight: 600;

}

#header-signup-button {
    background: var(--green);
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 2.5rem;
    border-radius: 4px;
}

#header-signup-button:hover {
    background: unset;
    color: var(--green);
    outline: 3px solid var(--green);
    text-decoration: none;
    transition: .1s;
}

footer  {
    background: var(--blue);
    color: var(--white);
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 64px;
}

.footer-dacc {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.footer-dacc img {
    object-fit: contain;
    object-position: center;
    height: 3rem;
    width: max-content;
}






.footer-links {
    display: flex;
    gap: 64px;

}

.footer-links ul {
    list-style: none; 
    display: flex;
    flex-direction: column;
    gap: 16px;   
}

.footer-links h4 {
    font-size: 1.5rem;
}

.footer-links a {
    color: var(--white);
}

.footer-leagel {
    text-align: center;
}

.footer-leagel span {
    color: transparent;
}